{% raw %}<noinclude>{{TOCright}}</noinclude>{% endraw %}
{% if collapsible -%}
{| border="border:1px solid #CCBB88; cellspacing="0" cellpadding="6" rules="all" style="margin:auto; border-style:solid; border-width:1px;" class="collapsible collapsed"
!style=background:#eeeebb|This build requires [[gww:Consumable|Consumables]] to operate properly.
|-
|<!--
{%- else -%}
{| style="border:1px solid #CCBB88; background: #eeeebb; margin: auto;"
|-
| '''This build requires [[gww:Consumable|Consumables]] to operate properly.'''&nbsp;&nbsp;<!--
{%-endif %}
-->{{parser_functions}}{% raw %}
|}<includeonly>{{ #ifeq: {{NAMESPACE}} | Build | [[Category:Requires Consumables|{{PAGENAME}}]]}}</includeonly>
<noinclude>
== Usage ==
<pre>
{{Requires-Cons}}
</pre>
Add this to any page that requires [[gww:Consumables|Consumables]] to work.

=== Parameters ==={%- endraw %}
All of these can be set equal to "yes" to display an icon and a link to the respective item.
{% for cat in catgories %}
==== {{cat.name}} ====
{%- if cat.selectable %}
*<strong>Any item from this category:</strong> {{cat.params[0]}}
{%- endif -%}
  {%- for item in cat['items'] %}
*{{item.name}}
  {%- endfor %}
{% endfor %}

== Example ==
{%- if not collapsible %}
{%- raw %}
<pre>{{User:Vegetaledefender/TestPage|pumpkin cookie=yes|candy apple=yes}}</pre>
{{User:Vegetaledefender/TestPage|pumpkin cookie=yes|candy apple=yes}}

<pre>{{User:Vegetaledefender/TestPage|conset=yes|morale boost=yes}}</pre>
{{User:Vegetaledefender/TestPage|conset=yes|morale boost=yes}}
{% endraw %}
{% else %}
{% raw %}
<pre>{{User:Vegetaledefender/TestRequires-Cons-Collapsible|pumpkin cookie=yes|candy apple=yes}}</pre>
{{User:Vegetaledefender/TestRequires-Cons-Collapsible|pumpkin cookie=yes|candy apple=yes}}

<pre>{{User:Vegetaledefender/TestRequires-Cons-Collapsible|conset=yes|morale boost=yes}}</pre>
{{User:Vegetaledefender/TestRequires-Cons-Collapsible|conset=yes|morale boost=yes}}
{% endraw %}
{% endif -%}
[[Category:Templates/Build categorization]]
</noinclude>
